<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="AET_tutkintatodistus" value="http://localhost:57234/tulosteet/DVV06.00.01E_tutkintatodistus"/>
	<add key="AET_tutkintatodistusUlkom" value="http://localhost:57234/tulosteet/DVV06.00.01I_tutkintatodistusUlkom"/>
    <add key="OTE_fontit" value="http://localhost:57234/fontit/"/>
    <add key="DVV_logo_FIN" value="http://localhost:57234/images/DVV_TUNNUS_FIN_vaaka_ensisijainen_rgb.png"/>
    <add key="DVV_logo_SWE" value="http://localhost:57234/images/DVV_TUNNUS_SVE_vaaka_ensisijainen_rgb.png"/>
    <add key="DVV_logo_ENG" value="http://localhost:57234/images/DVV_TUNNUS_ENG_vaaka_ensisijainen_rgb.png"/>
    <add key="DVV_logo2_FIN" value="http://localhost:57234/images/DVV_TUNNUS_FIN_pysty_ensisijainen_rgb.png"/>
    <add key="DVV_logo2_SWE" value="http://localhost:57234/images/DVV_TUNNUS_SVE_pysty_ensisijainen_rgb.png"/>
    <add key="DVV_logo2_ENG" value="http://localhost:57234/images/DVV_TUNNUS_ENG_pysty_ensisijainen_rgb.png"/>
    <add key="DVV_alatunniste_FIN" value="http://localhost:57234/images/DVV_alatunniste_FIN.png"/>
    <add key="DVV_alatunniste_SWE" value="http://localhost:57234/images/DVV_alatunniste_SVE.png"/>
    <add key="DVV_alatunniste_ENG" value="http://localhost:57234/images/DVV_alatunniste_ENG.png"/>
    <add key="TodistusTallentaja" value="Asiointipalvelu"/>
    <add key="EU_vakiolomake" value="http://localhost:57234/tulosteet/EU/"/>
    <add key="KELAjaETK" value="http://localhost:57234/tulosteet/KELAjaETK"/>
    <add key="SQLServiceTA.SQLServiceTA" value="http://localhost:5050/SQLServiceTA.asmx"/>
	<add key="Palautekysely" value="https://response.questback.com/dynamic/dvv/vqw5wttau8/answer?sid=8aOyjDBpEN&amp;PL=03&amp;P=009"/>
    <add key="Rekisterointi_FIN" value="https://dvv.fi/ulkomaalaisen-rekisterointi"/>
    <add key="Rekisterointi_SWE" value="https://dvv.fi/sv/registrering-av-utlanningar"/>
    <add key="Rekisterointi_ENG" value="https://dvv.fi/en/foreigner-registration"/>
	<add key="Oikaisuvaatimusohje" value="http://localhost:57234/tulosteet/oikaisuvaatimusohje"/>
	<add key="Muuttoilmoitus_FIN" value="https://posti.fi/fi/henkiloille/muuttoilmoitus"/>
	<add key="Muuttoilmoitus_SWE" value="https://posti.fi/sv/privat/flyttanmalan"/>
	<add key="Muuttoilmoitus_ENG" value="https://posti.fi/en/private/change-address"/>
	<add key="Verohallinto_FIN" value="https://vero.fi/henkiloasiakkaat"/>
	<add key="Verohallinto_SWE" value="https://vero.fi/sv/privatpersoner"/>
	<add key="Verohallinto_ENG" value="https://vero.fi/en/individuals"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--directoryBrowse enabled="true" /-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>